    <div>
      <button type="button" mat-raised-button class="button">Current Requests</button>
    </div>
    <div class="row">
        <h2 class="title">Request from Customers</h2>
        <div class="table-responsive">
          <table class="table table-bordered ">
            <thead>
            <tr>
              <th>NO</th>
              <th>CUSTOMER NAME</th>
              <th>LOCATION</th>
              <th>AMOUNT</th>
              <th class="text-right">DETAILS</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>1</td>
              <td>Corama</td>
              <td>Kinondon</td>
              <td class="text-right">600</td>
              <td class="text-right">information about this</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
